%centralize-bold {
  font-weight: bold;
  margin: auto;
  display: block;
}

.container-form {
  max-width: 365px;
  min-width: 270px;
  border-radius: 0.5rem;
  border-color: $black;
  padding: 1rem;
  margin: 20px auto 20px auto;
  font-size: 18px;
}

.container-input {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.tab-title {
  text-align: center;
}

.label {
  display: inline-block;
  font-weight: bold;
}

.container-input {
  margin: 1rem 0rem;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
}

.label-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container-radio:hover input ~ .label-radio {
  background-color: #ccc;
}

.container-radio input:checked ~ .label-radio {
  background-color: #2196F3;
}

.label-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .label-radio:after {
  display: block;
}

.container-radio .label-radio:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.input {
  min-width: 90px;
  width: 100%;
  height: 50px;
  text-align: center;
  // margin-top: 0.5rem;
  // !important statements are necessary to override the blog's style
  font-size: 22px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  // Hide spinner on Firefox
  -moz-appearance:textfield;

  &:focus {
    outline: none;
    border-color: $black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  // Hide the arrow that shows in .form-input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
}

.btn {
  @extend %centralize-bold;
  border-radius: 60px;
  border-color: $black;
  background-color: $white-background;
  height: 40px;
  width: 60%;
  box-shadow: none;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
