.table-summary {
  %standard-padding {
    padding: 15px 10px;
  }

  td {
    @extend %standard-padding;
    width: 150px;
    min-width: 110px;
  }

  th {
    @extend %standard-padding;
    width: 220px;
    min-width: 180px;
  }

  tr:nth-child(2) th,
  tr:nth-child(3) th,
  tr:nth-child(4) th {
    font-weight: normal;
  }

  tr:nth-child(1) td,
  tr:nth-child(5) td {
    font-weight: bold;
  }

  td {
    text-align: right;
  }

  tr:nth-child(1) {
    border-top: $thick-dark-border;
  }

  tr:nth-child(5) {
    border-bottom: $thick-dark-border;
  }
}
