.container-main {
  /*
  * Radio button styles
  */
  /* End Radio Button */ }
  .container-main *, .container-main *:before, .container-main *:after {
    box-sizing: border-box;
    font-family: Arial; }
  .container-main .btn {
    font-weight: bold;
    margin: auto;
    display: block; }
  .container-main .container-form {
    max-width: 700px;
    min-width: 270px;
    border-radius: 0.5rem;
    border-color: black;
    padding: 1rem;
    margin: 20px auto 20px auto;
    font-size: 18px; }
  .container-main .label {
    display: inline-block;
    font-weight: bold;
    font-size: 22px; }
  .container-main .container-input {
    margin: 2rem 0rem; }
  .container-main .tab {
    text-align: center; }
  .container-main .tab-btn {
    background-color: white;
    border-color: black;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer; }
  .container-main .tab-btn.active {
    background-color: #2196F3; }
  .container-main .tab-btn:focus {
    outline: none; }
  .container-main .tab-btn-uop {
    border-radius: 60px 0 0 60px; }
  .container-main .tab-btn-b2b {
    border-radius: 0 60px 60px 0; }
  .container-main .container-radio {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin: 12px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .container-main .container-radio input {
    position: absolute;
    opacity: 0; }
  .container-main .label-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
  .container-main .container-radio:hover input ~ .label-radio {
    background-color: #ccc; }
  .container-main .container-radio input:checked ~ .label-radio {
    background-color: #2196F3; }
  .container-main .label-radio:after {
    content: "";
    position: absolute;
    display: none; }
  .container-main .container-radio input:checked ~ .label-radio:after {
    display: block; }
  .container-main .container-radio .label-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }
  .container-main .input {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 22px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    -moz-appearance: textfield; }
    .container-main .input:focus {
      outline: none;
      border-color: black;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px; }
    .container-main .input::-webkit-outer-spin-button, .container-main .input::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none; }
  .container-main .btn {
    border-radius: 60px;
    border-color: black;
    background-color: #ffffff;
    height: 50px;
    width: 40%;
    min-width: 200px;
    box-shadow: none;
    font-size: 24px; }
  .container-main .btn:hover {
    cursor: pointer;
    background-color: black;
    color: white; }
  .container-main .btn:active {
    outline: none; }
  @media only screen and (min-width: 500px) {
    .container-main .container-zus + .container-zus {
      display: block;
      margin-left: 68px; } }
  @media only screen and (max-width: 500px) {
    .container-main .tab-btn {
      display: block;
      margin: 10px auto;
      width: 225px; }
    .container-main .tab-btn-uop {
      border-radius: 60px; }
    .container-main .tab-btn-b2b {
      border-radius: 60px; }
    .container-main .container-radio {
      display: block; } }
  .container-main .table {
    border-collapse: collapse;
    /* Show the borders */
    margin: 20px auto 20px auto; }
  .container-main .table * {
    padding: 8px 2px 8px 2px;
    font-family: sans-serif;
    border: none; }
  .container-main .tfoot {
    font-weight: bold; }
  .container-main .tbody th {
    text-align: left; }
  .container-main td {
    text-align: center; }
  .container-main .row-gross, .container-main .row-net {
    background: #e0e0e0; }
  .container-main .container-results {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-bottom: 50px; }
  .container-main .is-hidden {
    display: none; }
  .container-main .table-summary {
    min-width: 280px; }
    .container-main .table-summary td, .container-main .table-summary th {
      padding: 15px 10px; }
    .container-main .table-summary td {
      width: 150px;
      min-width: 130px; }
    .container-main .table-summary th {
      width: 220px;
      min-width: 150px; }
    .container-main .table-summary tr:nth-child(2) th,
    .container-main .table-summary tr:nth-child(3) th,
    .container-main .table-summary tr:nth-child(4) th {
      font-weight: normal; }
    .container-main .table-summary tr:nth-child(1) td,
    .container-main .table-summary tr:nth-child(5) td {
      font-weight: bold; }
    .container-main .table-summary td {
      text-align: right; }
    .container-main .table-summary tr:nth-child(1) {
      border-top: 0.15rem solid black; }
    .container-main .table-summary tr:nth-child(5) {
      border-bottom: 0.15rem solid black; }
  @media only screen and (min-width: 1150px) {
    .container-main .container-summary {
      display: flex;
      flex-direction: row; } }
  @media only screen and (max-width: 500px) {
    .container-main .table-summary {
      width: 100%;
      margin: 60px auto 60px auto; } }
  .container-main .table-main td {
    width: 98px;
    min-width: 90px; }
  .container-main .input-salary, .container-main .final-salary {
    background: #e0e0e0; }
  .container-main .main-thead {
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid black; }
    .container-main .main-thead tr:nth-child(1) {
      border-bottom: 0.05rem solid #d0d0d0; }
    .container-main .main-thead tr th {
      border-right: 0.05rem solid #d0d0d0; }
    .container-main .main-thead tr th:last-child {
      border-right: 0rem; }
  .container-main .main-tbody th, .container-main .main-tbody td {
    border-bottom: 0.05rem solid #d0d0d0; }
  .container-main .main-tbody tr:nth-child(odd) {
    background-color: #ffffff; }
  .container-main .main-tbody tr:nth-child(even) {
    background: #f7f7f7; }
  .container-main .main-tfoot {
    font-weight: bold;
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid black; }
    .container-main .main-tfoot tr td:nth-child(7n+2) {
      background: #e0e0e0; }
  @media only screen and (min-width: 500px) {
    .container-main .table-main {
      font-size: 16px; }
    .container-main .main-tbody tr:hover td,
    .container-main .main-tbody tr:hover {
      background-color: #adadad; } }
  @media only screen and (max-width: 900px) {
    .container-main .hide-on-tablet {
      display: none; } }
  @media only screen and (max-width: 500px) {
    .container-main .table-main, .container-main .table-main thead, .container-main .table-main tbody, .container-main .table-main tfoot, .container-main .table-main th, .container-main .table-main td, .container-main .table-main tr {
      display: block; }
    .container-main .table-main tr {
      padding: 0;
      margin-bottom: 60px;
      border-top: 0.15rem solid black;
      border-bottom: 0.15rem solid black; }
    .container-main .table-main tr:first-of-type {
      margin-top: 60px; }
    .container-main .table-main tr:nth-child(n) {
      background: white; }
    .container-main .table-main td {
      position: relative;
      padding-left: 50%;
      width: 100%;
      text-align: right;
      padding: 15px 10px; }
    .container-main .table-main td:before, .container-main .table-main th:before {
      position: absolute;
      top: 15px;
      left: 6px;
      width: 45%; }
    .container-main .table-main td:first-of-type,
    .container-main .table-main td:last-child {
      font-weight: bold; }
    .container-main .table-main td:before {
      text-align: left; }
    .container-main .table-main td:nth-of-type(1):before {
      content: "Gross"; }
    .container-main .table-main td:nth-of-type(2):before {
      content: "Pension"; }
    .container-main .table-main td:nth-of-type(3):before {
      content: "Disability"; }
    .container-main .table-main td:nth-of-type(4):before {
      content: "Sickness"; }
    .container-main .table-main td:nth-of-type(5):before {
      content: "Health"; }
    .container-main .table-main td:nth-of-type(6):before {
      content: "Tax base"; }
    .container-main .table-main td:nth-of-type(7):before {
      content: "Tax"; }
    .container-main .table-main td:nth-of-type(8):before {
      content: "Net salary"; }
    .container-main .main-thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .container-main .main-thead, .container-main .main-tbody, .container-main .main-tfoot {
      border-top: 0;
      border-bottom: 0;
      padding: 0; }
    .container-main .main-tbody th, .container-main .main-tfoot th {
      border-bottom: 0.15rem solid black;
      padding: 15px;
      text-align: center; }
    .container-main .main-tfoot {
      font-weight: normal; }
      .container-main .main-tfoot td:first-of-type,
      .container-main .main-tfoot td:last-child {
        font-weight: bold; }
      .container-main .main-tfoot td {
        border-bottom: 0.05rem solid #d0d0d0; } }

/*# sourceMappingURL=style.css.map */
