$white-background: #ffffff;
$very-light-gray: #f7f7f7;
$light-gray: #d0d0d0;
$dark-gray: #e0e0e0;
$black: black;
$thick-dark-border: 0.15rem solid $black;
$thin-light-border: 0.05rem solid $light-gray;
$light-blue: #84c7ff;
